{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
